@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "geneva";
  font-weight: normal;
  src: url("/fonts/Geneva.ttf");
}

@font-face {
  font-family: "druk";
  font-weight: bold;
  src: url("/fonts/Druk\ Wide\ Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #191c18;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: hidden !important;
  font-family: druk;
}

p,
button,
a,
i {
  font-family: geneva;
}
